 <% provide(:title, 'Home') %>
  <div class="center hero-unit">  
    <h1>Welcome to Hubway Directions</h1>
    <h2>
      Are you trying to find the quickest way to get from here to there using
      <a href="http://thehubway.com/">Hubway</a>?
    </h2>
    <div class="row">

        <%= form_for(:destination, url: "#") do |f| %>

          <%= f.label :from %>
          <%= f.text_field :from %>

          <%= f.label :to %>
          <%= f.text_field :to %>

         <p> <%= f.submit "Submit", class: "btn btn-large btn-primary" %></p>

        <% end %>
    </div>
  </div>